<% layout('./boilerplate.ejs')%>

    <style>
        body {
            background-image: linear-gradient(to right, red, yellow);
            color: rgb(44, 11, 11);
        }

        .card {
            background-color: rgba(255, 0, 0, 0.204);
        }
    </style>

    <div class="container">


        <div class="card mt-5 mb-5">
            <div class="row">
                <div class="col-md-4">
                    <img style="max-width: 350px; height: 500px;" src="<%=pandit.image[0].url%>"
                        class="img-fluid rounded-start" alt="Pandit Image">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h1 class="card-title mb-3">
                            <%=pandit.name%>
                        </h1>


                        <h5 class="card-text mb-5"> <i> <b>
                                    <%= pandit.yrsOfExp %>
                                </b> years of experience </i></h5>



                        <h5 class="card-text mb-3">Email me at <b>
                                <%= pandit.email %>
                            </b></h5>
                        <h5 class="card-text">My contact number : <b>
                                <%= pandit.contact %>
                            </b></h5>

                    </div>
                </div>
            </div>
        </div>






    </div>